*.iml
.gradle
/local.properties
.idea
/app/build/intermediates
app/build/intermediates
/app/build/generated
app/build/generated
/app/build/outputs/apk/debug/output.json
app/build/outputs/apk/debug/output.json
/app/build/outputs/apk/debug/manifest-merger-debug-report.txt
app/build/outputs/apk/debug/manifest-merger-debug-report.txt
/.idea/caches
/.idea/codeStyles
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
